/*BASI*/
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Track_and_field_stadium.jpg");
    color: white;
    min-height: 100vh;
    width: 60%;
    margin: 0 auto;
}
.struct{
    background: linear-gradient( 100deg, rgba(0, 76, 255, 0.5), rgba(0, 255, 0, 0.5));
    margin: 40px 0;
    border-radius: 40px;
}
img{
    width: 60px;
    margin: 0 20px;
}
input{
    border-radius: 20px;
    height: 40px;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    font-size: 1.8rem;
    border: none;
    margin: 0 auto;
}

.isActive, .active{
    opacity: 0.6;
    text-decoration: line-through;
}

ul{
    list-style: none;
    padding: 0 30px;
}


.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*BUTTON*/
.button{
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
}
.button:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5);
}
.bLeft{
    margin-top: 10px;
}

/*SPAN*/
span{
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid black;
    width: 600px;
    margin: 0 auto;
}

/*FLEX*/
.adjust{
    display: flex;
    justify-content: center;
    align-items:center;
}

/*ALLENAMENTO*/
.trainingToday{
    font-size: 30px;
    margin: 50px 0;
}