/*COMMON*/
body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Track_and_field_stadium.jpg");
    color: white;
    min-height: 100vh;
    width: 60%;
    margin: 0 auto;
}
